.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black);
  border-bottom: 1px solid var(--gold);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.nav__logo {
  width: 89px;
  height: 40px;
  margin-right: 24px;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.navbar a {
  color: var(--white);
  transition: var(--transition);
}

.navbar a:hover {
  color: var(--gold);
}
